body{
  background-color: black;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0px;
}
.clock{
  color:whitesmoke;
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}